
.map-box {
    position: relative;
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 100%;
}

/* 팝업 */
.popup {
    position: absolute;
    top: 130px;
    left: 430px;
    width: 300px;

    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    padding: 16px;

    z-index: 10;
    display: none;
}



.popup.show {
    display: block;
}

.popup-img {
    width: 100%;
    border-radius: 10px;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-handle {
    width: 40px;
    height: 4px;
    background: #ddd;
    border-radius: 2px;
    margin: 0 auto 12px;
    cursor: pointer;
}

.popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.popup-title h3 {
    font-size: 16px;
    font-weight: bold;
}

.popup-title a {
    font-size: 12px;
    color: #888;
    text-decoration: none;
}

.popup-info {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.popup-row {
    display: flex;
    gap: 12px;
    font-size: 13px;
    align-items: flex-start;
}

.popup-row .label {
    color: #888;
    min-width: 50px;
}

.popup-row a {
    margin-left: auto;
    color: #666;
    font-size: 12px;
    text-decoration: none;
}

/* 기본 상태: 버튼이 보임 */
.open-btn {
    /* 부모 요소(지도 컨테이너)를 기준으로 위치를 잡습니다 */
    position: absolute;

    /* 왼쪽 상단에서 얼마나 띄울지 결정합니다 */
    top: 130px;   /* 위에서 20px 내려옴 */
    left: 430px;  /* 왼쪽에서 20px 띄움 */

    /* 지도나 다른 요소보다 위에 보이도록 z-index를 높입니다 */
    z-index: 1000;
    border-radius: 50%; /*동그란버튼*/
    /* 버튼이 잘 보이도록 배경과 테두리를 추가합니다 */
    background-color: white;
    padding: 10px 10px;
    border: 1px solid #ccc;

    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}

.open-btn:hover {
    transform: scale(1.1); /* 마우스 올리면 살짝 커짐 */
}
/* 팝업이 활성화(popup-active)된 상태일 때 버튼을 숨김 */
body.popup-active .open-btn {
    display: none;
}

.btn-bookmark {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #ccc;         /* 기본 색 (비활성) */
    padding: 0;
}

.btn-bookmark:hover {
    color: gold;         /* 호버 시 노란색 */
}

.btn-bookmark.active i {
    color: gold;
}

.btn-bookmark.active i::before {
    content: "\F586"; /* bi-star-fill 코드 */
}